{% extends "base.html" %}


{%block content%}
        <form method="POST" action="">
            <div class= "container" style="width: 50%; padding: 10px; border: 2px solid blueviolet">
            
            {% csrf_token %}
            {%for field in form%}
            <div class="mb-3">

                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %}
                  

        <button type="submit" class="btn btn-primary" value="signup">Signup</button>
           
    </div>
        </form>
{%endblock%}